extends simply-layout.pug

block content
  if isLogin
    h1 post
    form(action='/post' method='POST')
      .mb-3
        label.form-label(for='exampleFormControlInput1') Title
        input.form-control(type='text' name='title' placeholder='Title')
      .mb-3
        label.form-label(for='exampleFormControlTextarea1') Content
        textarea.form-control(name='content' rows='4' placeholder='Content')
      .mb-3
        button.btn.btn-primary.mb-3(type='submit') Summit
  else
    h1 BBS
    p Please #[a(href="/login") login] then you could post.
