extends simply-layout.pug

block content
  h1 Register
  form(action='/register' method='POST')
    div
      | Username: 
      br
      input(type='text' name='name')
    div
      | Email: 
      br
      input(type='text' name='email')
    div
      | Password: 
      br
      input(type='text' name='password')
    button register
