doctype html 

html 
  head
    meta(charset='UTF-8')
    title BBS
    style a{ text-decoration:none } 
    //- 上面这行是去掉a标签的英文下划线
  body

    header

    block content
 
    footer
      p &copy; 2021
